.arrow {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;

  &.arrow-white {
    stroke: #fff
  }

  &.arrow-thick {
    stroke-width: 4px
  }
}

.anim-arrow-down {
  animation: arrow-down .5s ease-in-out infinite alternate
}

@keyframes arrow-down {
  to {
    transform: translateY(20%)
  }
}
