.card {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: $border_radius-card;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.card-max-width {
  max-width: $max_width-text;
}

.card-light-blue {
  background-color: $color-schillig_blue-light;
}