.section-placeholder {
  p {
    margin-block-start: 0;

    &[lang=de] {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.1
    }

    &[lang=en] {
      margin-bottom: 3em;
      font-weight: 350
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .section-placeholder {
    grid-column: 2 / end;
    grid-row: 2;

    p {
      &[lang=de] {
        font-size: 2em
      }
    }
  }
}
