.extra-margin {
  margin: $padding-content * 2 0;
}

.blue-background {
  color: #fff;
  background-color: $color-schillig_blue
}

.orange-text {
  color: $color-schillig_orange;
  background-color: #fff
}

.home-temp-grid {
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 2rem;

  section {
    p {
      margin-block-start: 0;
  
      &[lang=de] {
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.1;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens: none
      }
  
      &[lang=en] {
        font-weight: 350;
        opacity: .8
      }
    }
  
    hr {
      margin: 3em 0;
      width: 30%
    }
  
    .section-buttons {
      margin-top: 2em
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .home-temp-grid {
    padding: 4rem 0;
    grid-auto-columns: 10rem auto;

    section {
      grid-column: 2 / end;
      grid-row-start: 1;

      &.section-intro {
        grid-row-start: 2
      }

      p {
        &[lang=de] {
          font-size: 1.5em
        }
      }
    }
  }
}
