.section-survey {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: none;

  .button-close-survey {
    top: $padding-content;
    right: $padding-content;
    position: absolute;
    padding: .5rem;
    cursor: pointer;

    svg line {
      stroke: $color-schillig_blue;
      stroke-width: 3px
    }
  }
}