.exhibition-timetable {
  margin-bottom: 1em;
  border-collapse: collapse;

  td {
    padding: 0;
    line-height: 1.5;
    vertical-align: baseline;

    &:first-child {
      padding-right: 1em;
      font-weight: bold;
      white-space: nowrap
    }
  }
}