<footer {% if page.footer %}class="footer-{{ page.footer }}"{% endif %}>
  <ul class="icon-list">
    <li>
      <a class="icon icon-instagram" href="https://instagram.com/schillig_dessau" title="Instagram"></a>
    </li>
    <li>
      <a class="icon icon-facebook" href="https://facebook.com/schilligdessau" title="Facebook"></a>
    </li>
    <li>
      <a class="icon icon-mail" href="#" data-name="hello" data-domain="schillig-dessau" data-tld="de" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;" title="Mail"></a>
    </li>
  </ul>
  <ul>
    <li><a href="/impressum">Impressum</a></li>
    <li><a href="/datenschutz">Datenschutzerklärung</a></li>
  </ul>
</footer>
<script src="/js/nav.js"></script>