<footer>
  <section>
    <ul class="social">
      <li>
        <a class="icon icon-link" href="https://instagram.com/schillig_dessau" title="Instagram">
          <svg>
            <use xlink:href="/assets/images/icons/social/social.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="icon icon-link" href="https://facebook.com/schilligdessau" title="Facebook">
          <svg>
            <use xlink:href="/assets/images/icons/social/social.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="icon icon-link" href="#" data-name="hello" data-domain="schillig-dessau" data-tld="de" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;" title="Mail">
          <svg>
            <use xlink:href="/assets/images/icons/social/social.svg#mail"></use>
          </svg>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="/imprint">Impressum</a>
      </li>
      <li>
        <a href="/privacy">Datenschutz</a>
      </li>
    </ul>
  </section>
</footer>