<header>
  <nav class="nav-header">
    <input type="checkbox" id="nav-header-toggle" role="button">
    <label for="nav-header-toggle" id="nav-header-toggle-label">
      <svg width="24" height="24">
        <line x1="0" y1="12" x2="24" y2="12"></line>
        <line x1="12" y1="0" x2="12" y2="24"></line>
      </svg>
    </label>
    <div id="nav-header-menu">
      <ul role="navigation">
        <li>
          <a {% if page.nav == 'home' %}class="nav-active"{% endif %} href="/">Home</a>
        </li>
        <li>
          <a {% if page.nav == 'about' %}class="nav-active"{% endif %} href="/about">Über Schillig</a>
        </li>
      </ul>
    </div>
  </nav>
  <a href="/">
    {% assign logo_color = 'blue' %}
    {% if page.background == 'blue' %}
      {% assign logo_color = 'white' %}
    {% endif %}
    <img class="logo" src="/assets/images/schillig_logo_{{ logo_color }}.png" alt="Schillig">
  </a>
</header>