:root {
  --orange: hsl(23deg, 100%, 46%);

  --gray-2: hsl(0deg, 0%, 98%);
  --gray-5: hsl(0deg, 0%, 95%);
  --gray-10: hsl(0deg, 0%, 90%);
  --gray-20: hsl(0deg, 0%, 80%);
  --gray-40: hsl(0deg, 0%, 60%);
  --gray-60: hsl(0deg, 0%, 40%);
  --gray-80: hsl(0deg, 0%, 20%);
  --gray-90: hsl(0deg, 0%, 10%);
}