footer {
  display: flex;
  
  ul {
    margin: 0;
    padding: 0;
    max-width: none;
    font-size: .8em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    opacity: .75;

    li {
      margin-right: 2em;

      &:last-child {
        margin-right: 0
      }
    }
  }
}

.footer-centered {
  justify-content: center
}
