p, ul {
  max-width: $max_width-text;
  line-height: 1.3
}

p {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphenate-limit-chars: 3;
  -ms-hyphenate-limit-lines: 3;

  &[lang=en] {
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
  }
}

ul {
  padding-left: 1.5em
}

strong {
  font-weight: normal;
  font-variation-settings: 'wght' 700
}

hr {
  margin: 1em 0;
  height: 1px;
  background: currentColor;
  border: none;
  opacity: .75
}

.no-wrap {
  white-space: nowrap
}

.hr-max-width {
  max-width: $max_width-text
}